/* green - #A9ECA2
yellow - #F5FFCB
orange - #FFE3B0
pink - #F5C8BD */


.App {
    background-color: #F5FFCB
}

.AddUser {
    background-color: #A9ECA2;
    padding: 20px;
    
}

.FirstName {
    padding-left: 20px;
    width: 35%;
    /* margin: 2px solid #F5C8BD; */

}

.LastName {
    width: 35%
}

.Hobby {
    width: 20%
}

.Age {
    width: 10%
}